/*doc
---
title: Buttons
name: a-buttons
category: Base layout > Buttons
---

| Preview                                                        | Class                      |
|----------------------------------------------------------------|----------------------------|
| <button type="button" class="btn btn-default">Default</button> | <pre>btn btn-default</pre> |
| <button type="button" class="btn btn-primary">Primary</button> | <pre>btn btn-primary</pre> |
| <button type="button" class="btn btn-success">Success</button> | <pre>btn btn-success</pre> |
| <button type="button" class="btn btn-info">Info</button>       | <pre>btn btn-info</pre>    |
| <button type="button" class="btn btn-warning">Warning</button> | <pre>btn btn-warning</pre> |
| <button type="button" class="btn btn-danger">Danger</button>   | <pre>btn btn-danger</pre>  |
| <button type="button" class="btn btn-link">Link</button>       | <pre>btn btn-link</pre>    |
*/


/*doc
---
title: Sizes
name: b-size
category: Base layout > Buttons
---

```html_example
<p>
  <button type="button" class="btn btn-primary btn-lg">Large button</button>
  <button type="button" class="btn btn-default btn-lg">Large button</button>
</p>
<p>
  <button type="button" class="btn btn-primary">Default button</button>
  <button type="button" class="btn btn-default">Default button</button>
</p>
<p>
  <button type="button" class="btn btn-primary btn-sm">Small button</button>
  <button type="button" class="btn btn-default btn-sm">Small button</button>
</p>
<p>
  <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
  <button type="button" class="btn btn-default btn-xs">Extra small button</button>
</p>
```

## Block buttons

```html_example
<p>
  <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
  <button type="button" class="btn btn-default btn-lg btn-block">Block level button</button>
</p>
```
*/


/*doc
---
title: Active / Disabled
name: c-active-disabled
category: Base layout > Buttons
---

```html_example
<p>
  <button type="button" class="btn btn-primary btn-lg active">Primary button</button>
  <button type="button" class="btn btn-default btn-lg active">Button</button>
</p>
<p>
  <button type="button" class="btn btn-lg btn-primary" disabled="disabled">Primary button</button>
  <button type="button" class="btn btn-default btn-lg" disabled="disabled">Button</button>
</p>
```
*/



/*doc
---
title: Button groups
name: d-button-groups
category: Base layout > Buttons
---

Work with each button variant

```html_example
<!-- Horizontal group -->
<div class="btn-group">
  <button type="button" class="btn"><i class="glyphicon glyphicon-align-left"></i></button>
  <button type="button" class="btn"><i class="glyphicon glyphicon-align-center"></i></button>
  <button type="button" class="btn"><i class="glyphicon glyphicon-align-right"></i></button>
</div>

<br><br>

<!-- Vertical group -->
<div class="btn-group-vertical">
  <button type="button" class="btn btn"><i class="glyphicon glyphicon-home"></i></button>
  <button type="button" class="btn btn"><i class="glyphicon glyphicon-user"></i></button>
  <button type="button" class="btn btn"><i class="glyphicon glyphicon-comment"></i></button>
  <button type="button" class="btn btn"><i class="glyphicon glyphicon-cog"></i></button>
</div>
```
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <div class="btn-group">
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-align-left"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-align-center"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-align-right"></i></button>
      </div>
      <br><br>
      <div class="btn-group">
        <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-align-left"></i></button>
        <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-align-center"></i></button>
        <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-align-right"></i></button>
      </div>
      <br><br>
      <div class="btn-group">
        <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-align-left"></i></button>
        <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-align-center"></i></button>
        <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-align-right"></i></button>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="btn-group">
        <button type="button" class="btn btn-info"><i class="glyphicon glyphicon-align-left"></i></button>
        <button type="button" class="btn btn-info"><i class="glyphicon glyphicon-align-center"></i></button>
        <button type="button" class="btn btn-info"><i class="glyphicon glyphicon-align-right"></i></button>
      </div>
      <br><br>
      <div class="btn-group">
        <button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-align-left"></i></button>
        <button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-align-center"></i></button>
        <button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-align-right"></i></button>
      </div>
      <br><br>
      <div class="btn-group">
        <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-align-left"></i></button>
        <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-align-center"></i></button>
        <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-align-right"></i></button>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-user"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-comment"></i></button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-cog"></i></button>
      </div>
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></button>
        <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-user"></i></button>
        <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-comment"></i></button>
        <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-cog"></i></button>
      </div>
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-home"></i></button>
        <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-user"></i></button>
        <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-comment"></i></button>
        <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-cog"></i></button>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-info"><i class="glyphicon glyphicon-home"></i></button>
        <button type="button" class="btn btn-info"><i class="glyphicon glyphicon-user"></i></button>
        <button type="button" class="btn btn-info"><i class="glyphicon glyphicon-comment"></i></button>
        <button type="button" class="btn btn-info"><i class="glyphicon glyphicon-cog"></i></button>
      </div>
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-home"></i></button>
        <button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-user"></i></button>
        <button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-comment"></i></button>
        <button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-cog"></i></button>
      </div>
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-home"></i></button>
        <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-user"></i></button>
        <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-comment"></i></button>
        <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-cog"></i></button>
      </div>
    </div>
  </div>
</div>
*/